* {
  margin: 0%;
  box-sizing: inherit;
}

.App {
  font-family: sans-serif;
  background-color: #1B1C1E;
  background-image: url(https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png);
}

.navbar {
  display: flex;
  padding: 15px;
  background-color: transparent;
  /*background-image: linear-gradient(to right, rgb(50, 68, 95), rgb(34, 34, 30));*/
}

.navbar .head {
  font-family: "Dongle", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  color: white;
  margin-left: 5px;
}

.newPost-btn {
  border-radius: 6px;
  background-color: #1bb76e;
  font-weight: bold;
  font-size: medium;
  margin: 0px 10px;
  cursor: pointer;
  color: white;
}

.searchbar {
  flex: 1%;
  border: 1px solid transparent;
  border-radius: 6px;
  margin: 0px 10rem;
  font-size: medium;
}
.GoAdFree-btn{
  border-radius: 6px;
  background-color: #6432f9;
  font-weight: bold;
  font-size: medium;
  margin-right: 20px;
  padding: 0px 10px;
  cursor: pointer;
  color: white;
}
.signIn-btn {
  border-radius: 6px;
  background-color: rgb(62, 233, 167);
  font-weight: bold;
  font-size: medium;
  margin-right: 20px;
  padding: 0px 10px;
  cursor: pointer;
  color: white;
}

.signUp-btn {
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: medium;
  margin: 0px 10px;
  cursor: pointer;
}
.welcome-msg{
  font-size: 24px;
    font-family: Proxima Nova ExtraBold,Helvetica Neue,Helvetica,Arial,sans-serif;
    letter-spacing: .6px;
    color: #aed8ea;
    text-align: center;
    margin-top: 12px;
    min-height: 34px;
    position: relative;
}
.TrendingTags{
  display: flex;
  flex-direction: column;
}
.TrendingTags-header{
  height: 31px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    opacity: .7;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}
/* .MoreTags{
  height: 31px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    opacity: .7;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
} */
img{
  height: 131px;
  width: 220px;
}
.TrendingTags-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Tag{
    height: 180px;
    width: 220px;
    position: relative;
    display: flex;
    margin: 20px 12px;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 3px;
    background-color: rgba(121,67,200,.8);
    background-size: auto 115px;
    background-repeat: repeat-x;
    background-position: 100% 0;
    transition: height .3s;
    -webkit-transition: transform .3s;
}
.Tag-title {
  font-family: Proxima Nova Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
    /* padding: 20px; */
    padding-bottom: 10px;
    width: 100%;
    position: relative;
    text-align: center;
    align-items: center;
    color: #fff;
}
.Tag-name {
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: .4px;
  color: #fff;
  text-transform: capitalize;
  word-break: break-word;
}
.Tag-posts {
  margin-top: 4px;
  font-size: 5px;
  line-height: 1.46;
  letter-spacing: .4px;
  color: hsla(0,0%,100%,.5);
}
.img-gallery-container{
  background-color: #2e3035;
}
.img-gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 100%;
  -moz-column-width: 100%;
  column-width: 100%;
  margin-left:8rem;
  margin-right: 8rem;
  text-align: center;
  
}
.img-card {
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 12px;
  width: 100%;
  justify-content: center;
  background-color: #979494;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 40%);
}

h2 {
  padding: 0px;
  margin: 0px;
}

/* .card-body {
  width: 100%;
} */

.img {
  width: 100%;
  height: 90%;
}

.counter-btn {
  padding: 0.2rem;
  display: flex;
  display: inline-flex;
  cursor: pointer;
  font-size: large;
}

.count-div {
  padding: 0.4rem;
  user-select: none;
}

.counter-btn:hover {
  opacity: 0.8;
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
Nav{
  background-color: transparent;
  margin-left: 8rem;
  margin-right: 8rem;
  font-size: medium;
  font-weight: 600;
  justify-items: center;
  justify-content: space-between;
}
